<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.CVSSCM" plugin="cvs@2.11">
    <flatten>true</flatten>
    <repositories>
      <hudson.scm.CvsRepository>
        <cvsRoot>/home/user/CVSROOT</cvsRoot>
        <repositoryItems>
          <hudson.scm.CvsRepositoryItem>
            <modules>
              <hudson.scm.CvsModule>
                <localName></localName>
                <remoteName>python</remoteName>
              </hudson.scm.CvsModule>
            </modules>
            <location class="hudson.scm.CvsRepositoryLocation$HeadRepositoryLocation">
              <locationType>HEAD</locationType>
              <useHeadIfNotFound>false</useHeadIfNotFound>
            </location>
          </hudson.scm.CvsRepositoryItem>
        </repositoryItems>
        <compressionLevel>-1</compressionLevel>
        <excludedRegions>
          <hudson.scm.ExcludedRegion>
            <pattern></pattern>
          </hudson.scm.ExcludedRegion>
        </excludedRegions>
        <passwordRequired>false</passwordRequired>
      </hudson.scm.CvsRepository>
    </repositories>
    <canUseUpdate>true</canUseUpdate>
    <skipChangeLog>false</skipChangeLog>
    <pruneEmptyDirectories>true</pruneEmptyDirectories>
    <disableCvsQuiet>false</disableCvsQuiet>
    <cleanOnFailedUpdate>false</cleanOnFailedUpdate>
    <forceCleanCopy>false</forceCleanCopy>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>nosetests --with-xunit</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.2-beta-4">
      <testResults>nosetests.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
